<!-- banner and header section -->
<div class="banner">
  <header>
     <a href="#" class="logo">Fulframe Technologies</a>
     <div class="toggle"></div>
  </header>
  <img src="./img/bg.jpg">
  <div class="content">
     <h2>Success by Design</h2>
     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id fuga quaerat aperiam, veritatis illo nihil sunt harum placeat pariatur? Repellat debitis eius dolorum facere a incidunt nulla ad, reprehenderit cum.</p>
  </div>
</div>
<!-- about section -->
<section class="about" id="about">
   <div class="contentBx">
      <h2 class="heading">About US</h2>
      <p class="message">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto laudantium nisi aperiam, sunt, hic fuga asperiores quibusdam sit, facere animi exercitationem. Perferendis, nemo. Minus minima, veniam molestias quia nobis sed! <br> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum veniam ea ut voluptatum repellendus aspernatur, hic facilis eius nostrum odit officiis consectetur voluptatibus adipisci, quae accusamus in error nisi minima.</p>
   </div>
   <div class="imgBx"></div>
</section>
<!-- services section -->
<section class="services" id="services">
  <h2 class="heading">Our Services</h2>
  <p class="message">We help companies,businesses,brands to create a website, tell their story and improve their web presence online</p>
  <div class="container">
     <div class="serviceBx">
        <div>
          <img src="./img/icon1.png" alt="Design">
          <h2>Design</h2>
          <p>we design all types of website ranging from single page, blog, e-commerce, and corporate website for all type of ventures</p>
        </div>
      </div>
      <div class="serviceBx">
          <div>
            <img src="./img/icon2.png" alt="Development">
            <h2>Development</h2>
            <p></p>
          </div>
        </div>
        <div class="serviceBx">
            <div>
              <img src="./img/icon3.png" alt="Branding">
              <h2>Digital Marketing</h2>
              <p>we can, you can reach more and new customers online with proven digital marketing stratgeies to increase sales and revenue for your business</p>
            </div>
          </div>
  </div>
</section>
<!-- technology section -->
<section class="technology">
  <div class="contentBx">
    <h2 class="heading">We use cutting edge technology</h2>
    <p class="message">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum natus dolorum eveniet, nobis cumque minima tempora distinctio reprehenderit maxime explicabo minus a esse fugiat, molestias delectus ad quia voluptatem voluptatibus voluptate. Esse adipisci in illo dicta assumenda culpa. Dolorem, odio.
    </p>
  </div>
  <div class="imgBx">
     <img src="./img/tech.png" alt="technology we use!">
  </div>
</section>

<!-- client section -->
<section class="client">
<h2 class="heading">Our client</h2>
<p class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, odio? Facilis, architecto! Earum cumque impedit eligendi recusandae eius, iste quae exercitationem quia voluptatum delectus repellendus quas! Excepturi delectus dicta laboriosam accusamus saepe magni, modi assumenda praesentium, labore quibusdam cumque sapiente.</p>

<!-- clients logos -->
<div class="imgBx">
 <img src="./img/clients/abc.png">
 <img src="./img/clients/amara.png">
 <img src="./img/clients/monero.png">
 <img src="./img/clients/treva.png">
</div>
</section>

<!-- testimonials section -->
<section class="testimonials">
 <h2 class="heading">What Our Client says</h2>
 <div class="container">
   <div class="contentBx">
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam soluta doloremque odio rem voluptatum pariatur atque quod delectus expedita reiciendis!.</p> <br> 
        <h3>Someone Famous</h3>
    </div>
   </div>
   <div class="contentBx">
      <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam soluta doloremque odio rem voluptatum pariatur atque quod delectus expedita reiciendis!.</p> <br> 
          <h3>Someone Famous</h3>
      </div>
     </div>
 </div>
</section>

<!-- contant section -->
<section class="contact" id="contact">
 <h2 class="heading">Contact us</h2>
 <p class="message">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, porro mollitia quae deserunt fugiat cumque possimus ipsum sunt explicabo voluptates cupiditate adipisci natus, provident officiis! Voluptatibus, nulla maiores praesentium, sint dignissimos veniam nihil.</p>
</section>

<!-- contant form -->
<section class="about">
<div class="contentBx redBg">
  <div class="form">
    <form action="/msgFromClient" method="POST">
      <div class="inputBx">
        <input type="text" name="" placeholder="Full Name"required>
     </div>
     <div class="inputBx">
         <input type="text" name="" placeholder="Email" required>
      </div>
      <div class="inputBx">
        <textarea name="" placeholder="Write your message here!!!" required></textarea>
      </div>
      <div class="inputBx">
         <input type="submit" name="" value="send">
      </div>
    </form>
  </div>
</div>
<div class=" imgBx2"></div>
</section>

<!-- footer section -->
<section class="footer">
<p class="message">copyright &copy; 2021</p>
<ul>
  <p class="message">Follow us on :</p>
  <li><a href="#"><img src="./img/facebook.png"></a></li>
  <li><a href="#"><img src="./img/twitter.png"></a></li>
  <li><a href="#"><img src="./img/linkedin.png"></a></li>
</ul>
</section>

<section class="modalbox">
  <h2 class="closebtn">&times;</h2>
   <ul class="menu">
     <li><a href="/">Home</a></li>
     <li><a href="#about">About</a></li>
     <li><a href="#services">Services</a></li>
     <li><a href="#contact">Contact Us</a></li>
   </ul>
</section>